<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome{% endblock %} 정통실 과제</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<style>
  table, th, td {
    border: 1px solid #bcbcbc;
  }
  .jb-th-1 {
    width: 400px;
  }
</style>
</head>
<body>
    <table border="1">
        <tr>
            <th width="25%"><b>과목명</b></th>
            <th width="25%"><b>담당교원</b></th>
            <th width="25%"><b><u>메모장</u></b></th>
        </tr>
        <tr>
            <td>머신러닝</td>
            <td>이종태 교수님</td>
            <td href ="{{ url_for('machine') }}">이동</td>
        </tr>
         <tr>
            <td>정보시스템 통합 및 실습</td>
            <td>간자르 교수님</td>
            <td href ="{{ url_for('information') }}">이동</td>
        </tr>
        <tr>
            <td>산업 AI</td>
            <td>우딘 교수님</td>
            <td href ="{{ url_for('AI') }}">이동</td>
        </tr>
        <tr>
            <td colspan="3"><b>기능</b></td>

        <tr>
            <td>계산기</td>
            <td colspan="2" href ="{{ url_for('calculator') }}">이동</td>
        </tr>

    </table>

</body>
</html>